<ion-view title="Join">
  <ion-content>
    <form ng-submit='join()'>
      <div class='list'>
        <label class='item item-input'>
          <input ng-model='email' type='email' placeholder='Email'>
        </label>
        <label class='item item-input'>
          <input ng-model='pass1' type='password' placeholder='Password'>
        </label>
        <label class='item item-input'>
          <input ng-model='pass2' type='password' placeholder='Confirm Password'>
        </label>
      </div>
      <div ng-bind='error'></div>
      <button type='submit' class='button button-block button-positive'>
        Join!
      </button>
    </form>
  </ion-content>
</ion-view>
