<ion-view title='Sign in'>
  <ion-content>
    <form ng-submit='login()'>
      <div class='list'>
        <label class='item item-input'>
          <input ng-model='loginData.email' type='email' placeholder='Email'>
        </label>
        <label class='item item-input'>
          <input ng-model='loginData.password' type='password' placeholder='Password'>
        </label>
      </div>
      <div>{{loginData.error}}</div>
      <button type='submit' class='button button-block button-positive'>
        Sign in
      </button>
      <button type='button' ng-click='join()' class='button button-block button-stable'>
        Join!
      </button>
    </form>
  </ion-content>
</ion-view>
